{% extends 'base.html' %}


{% block content %}


		<div class="col-md-4 container bg-default">

			<h4 class="my-4">
					Billing Address
			</h4>

			<form method="post">
				{% csrf_token %}
				{{ order_form.as_p }}



				<hr>
				<h4 class="py-2 font-weight-bold text-grey">
					Shipping summary:<br>
					<h6>Courier delivery: ${{transport_cost}}</h6><br>

					<h6>Recipient pickup: Free</h6>

				</h4>
				<div class="row">
					<div class="col-md-12">

					</div>
				</div>



				<hr>

					<hr class="mb-4">

				<button type="submit" class="btn btn-primary bt-lg btn-block" >Continue to Checkout</button>
				<hr>
			</form>

		</div>


{% endblock content %}
